
.hierarchy_editor table {
    /*border-collapse: separate;*/ba
}
.hierarchy_editor td {
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
}

.hierarchy_editor .indent {
    width:  50px;
}
.hierarchy_editor .handle_cell {
    text-align: center;
    width:  50px;
}
.hierarchy_editor .handle img {
    height: 20px;
    cursor: move;
}
.hierarchy_editor .header.header_last {
    width: 500px;
}

.hierarchy_editor .header {
    width: 50px;
}
.hierarchy_editor .element {
    height: 30px;
    padding: 0;
    margin: 0;
}
.hierarchy_editor .bar {
    height: 15px;
}

.hierarchy_editor .holder_empty {
    /*background-color: #cccccc;*/
}
.hierarchy_editor .holder.holder_active {
    background-color: #ffcccc;
    border: 1px solid black;
}
.hierarchy_editor .holder.holder_hover {
    background-color: red;
}
.hierarchy_editor .holder {
    /*background-color: #fafafa;
    border: 1px solid #cacaca;*/
}

.hierarchy_editor .content {
    padding: 0;
    margin: 0;
}