
.hierarchy_editor table {
    border-collapse: separate;
}
.hierarchy_editor td {
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
}

.hierarchy_editor .indent {
    width:  50px;
}
.hierarchy_editor .handle_cell {
    width:  50px;
    cursor: move;
}

.hierarchy_editor .handle {
    font-size: 16pt;
}
.hierarchy_editor .handle img {
    height: 25px;
}
.hierarchy_editor .header.header_last {
    width: 500px;
}

.hierarchy_editor .header {
    width: 50px;
}
.hierarchy_editor .element {
    height: 50px;
    padding: 0;
    margin: 0;
}
.hierarchy_editor .bar {
    height: 20px;
}

.hierarchy_editor .holder_empty {
    /*background-color: #cccccc;*/
}
.hierarchy_editor .holder.holder_active {
    font-weight: bold;
    background-color: #faa;
}
.hierarchy_editor .holder.holder_hover {
    /*background-color: #ffcccc;*/
    background-color: #aaf;
}
.hierarchy_editor .holder {
    background-repeat: none;
    border: 0;
    background-color: #ddd;
    /*border: 1px dashed #cacaca;*/
    text-align: center;
}

.hierarchy_editor .content {
    padding: 0;
    margin: 0;
    font-size: 20pt;
}